<div class="profile">
  <section id="wrapper">
    <header class="h-card">
      <a class="u-url" href="/">
        <img id="avatar" class="u-photo" src="{{ .Site.Params.author.avatar }}" width="96" height="96" />
      </a>
      <h1 class="p-name" rel="me">{{ .Site.Params.author.name }}</h1>
     <!--<h4 class="p-role">{{ .Site.Params.description | safeHTML }}</h4>-->
<p class="h-entry">
<!--
<nav class="block-links">
<a href="/categories/article">Тексты</a>
<a href="/categories/mtv">Кино и ТВ</a>
<a href="/categories/book">Книги</a> 
<a href="/categories/travel">Путешествия</a> 
</nav>
-->
</p>
    </header>
  </section>
</div>
